body{
    background-image: url("pictures/background-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

#list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff8b73;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li button{
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

ul {
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
}

ol {
    display: table-caption;
}

#mainHeader{
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    font-size: 5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-1{
    display: flex;
    justify-content: space-around;
    
}

.box{
    border: 0;
    padding: 10px;
    width: 25%;
}

header{
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    font-size: 3em;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    font-size: 2em;
}

#difList{
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    font-size: 2em;
    float: none;
}

ol li{
    text-decoration: underline;
}

