body{
    background-image: url("pictures/background-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff8b73;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    font-size: 90px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-1{
    display: flex;
    justify-content: space-around;
    
}

.box{
    border: 3px rgba(83, 74, 55, 0.007) solid;
    padding: 10px;
    width: 20%;
}

header{
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    font-size: 50px;

}

p{
    font-family: 'Quicksand', sans-serif;
    font-variant: all-petite-caps;
    font-size: 30px;
}
